transformers==4.45.1
accelerate==0.34.2
bitsandbytes==0.44.0
datasets==3.0.1
evaluate==0.4.3
gradio==5.21.0
huggingface-hub==0.29.1
matplotlib==3.10.1
numpy==2.2.3
openai==1.65.4
pandas==2.2.3
peft==0.13.0
scikit-learn==1.6.1
pqdm==0.2.0
tqdm==4.67.1
trl==0.11.1
uvicorn==0.34.0
tensorboard==2.19.0
wandb==0.19.8
json_repair
python-dotenv